
.navbar-brand{
    background-image: url('../images/sprites.png');
    display: inline-block;
    width: 130px;
    height: 30px;
    background-position: 0-380px; 
    
}
#dots{
    display:none;
    position: absolute; 
   background-color: #f1f1f1;
   list-style: none;
   color: black;
   padding: 10px;
   margin-top: 20px;
}
.nav-link:hover #dots{
     display: block;      
}

#explore{
    display:none;
    position: absolute; 
   background-color: #f1f1f1;
   list-style: none;
   color: black;
   padding: 10px;
   margin-top: 20px;
}
.nav-link:hover #explore{
     display: block;      
}
#section1{
    background-image: url(../images/11-59-25-21_1920x430.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    z-index: 999;
}
#section1 .bg-light{
    background: none !important;
}
#section1 .fa{
    font-size: 17px;
    color: white;
}
#displaytext{
    color: white;
    text-align: center;
    padding-top: 70px;
}
.searchicon{
    background: url(../images/sprites.png);
    height: 20px;
    width: 70px;
    background-repeat: no-repeat;
    background-position: -172px 0px;
    position:relative;
    z-index: 9999;
    display: inline-flex;
    left: -351px;
    top: 37px;

}
input#search{
    padding-left: 30px !important;
    position: relative;
}
.dropdown{
    position: absolute;
    left: 324px;
    top: -38px;
}

#section2{
    display: flex;     
}
#section2 .row{
    justify-content:space-around;
    margin-top: 30px;
 
 }
#section2 .img-thumbnail{
    width: 250px;
    height: 250px;
   
}
  
#section2 .img-thumbnail:hover{
  /*transform: scale(2);*/
   
  transition-delay: 250ms;
  transition-duration: 1000ms;
}
#fotter{
    background-color: #fafafa;
    border-top: 1px solid #eee;
    height: 85px;
    align-items: center;
}
#fotter div{
     align-items: center;
}
#fotter div .fa{
    font-size: 24px;
}
